.navbar {
    height: 10vh;
    background: #1b1919;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .nav-items {
    display: flex;
    list-style: none;
    text-align: center;
    justify-content: flex-end;
    margin-left: 60rem;
  }
  
  .nav-item {
    display: flex;
    align-items: center;
    height: 10vh;
  }
  
  .nav-item a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    margin-right: 2rem;
    padding: 15px 15px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  
  .nav-item a:hover {
    background: orange;
  }
  